version: '3.9'
services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pma
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
  api:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/pma
      JWT_SECRET: change-me-super-secret-key
      JWT_EXPIRES_IN: 1h
      PORT: 3000
    ports:
      - '3000:3000'
    command: ["node", "dist/main.js"]
volumes:
  db_data:
